# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\AllWorkSpace\IntelliJ IDEA 2020.3.4\ideaWorkspace\maven-javafx-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
